#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.search{
  padding: 10px 5px;
  width: 40%;
  margin: 0 0 50px 0;
} 

*{
  border: 1px solid transparent;
}